In [ ]:
ye_ex = {
    'luke': 3,
    'Kelly': 6
}

In [ ]:
type(ye_ex)

dict

In [ ]:
for per in ye_ex:
    print (per)

luke
Kelly

In [ ]:
for key, value in ye_ex.items():
  if value > 5:
    print(key, 'has', value, 'years experience')

Kelly has 6 years experience

In [ ]:
ye_ex = {
    'luke': 3,
    'Kelly': 6,
    'Alex': 4,
    'Marry': 7
}

In [ ]:

years = 0
index = 0

years_list = list(ye_ex.items())

while years < 5 and index < len(years_list):
    key, years = years_list[index]
    if years >= 5:
        print(key, years)
    index += 1

Kelly 6

In [ ]:
#  analyst_list = []

#  for job in job_list:
#    if "Data Analyst" in job:
#      analyst_list.append (job)


#   analyst_list = [job for job in job_list if "Data Analyst" in job]

#   print ("Original List is", len(job_list), "jobs")
#   print ("New List is", len(analyst_list), "jobs")

In [ ]:
my_skills =['Python', 'SQL', 'Excel']

In [ ]:
my_skills =['Python', 'SQL', 'Excel']

job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]

qualified_roles = []

for job in job_roles:
    qualified = True

    for skill in my_skills:
        if skill not in job['skills']:
            qualified = False
            break
    if qualified:
      qualified_roles.append(job['role'])

qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

In [ ]:
# Determine which jobs you're qualified for
qualified_roles = []

for job in job_roles:
    # Check if all required skills are in my_skills
    if all(skill in job['skills'] for skill in my_skills):
      # Add the job role to the qualified_roles list
      qualified_roles.append(job['role'])

qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

In [ ]:
for job in job_roles:
  qualified = True

  for skill in my_skills:
    if skill not in job['skills']:
      qualified = False

In [ ]:
salary_list =[100000, 200000, 150000, 120000, 80000, 750000]

# Calaculate total_salary of base_salary *(1 + bonus_rate)
def calculate_salary (base_salary, bonus_rate=.1):

 return base_salary * (1 + bonus_rate)

total_salary_list = [calculate_salary(salary) for salary in salary_list]

total_salary_list

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

In [ ]:
salary_list =[100000, 200000, 150000, 120000, 80000, 750000]

# Calaculate total_salary of base_salary *(1 + bonus_rate)
# def calculate_salary (base_salary, bonus_rate=.1):

 # return base_salary * (1 + bonus_rate)
 # Use lambda instead

total_salary_list = [(lambda x: x * 1.1)(salary) for salary in salary_list]

total_salary_list

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

In [ ]:
jobs_data = [
    {'job_title': 'Data Analyst', 'job_skills': ['SQL', 'Python', 'Excel'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['Python', 'R', 'Machine Learning'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'PyTorch'], 'remote': True},
    {'job_title': 'Data Engineer', 'job_skills': ['Python', 'Apache Spark', 'Hadoop'], 'remote': False},
    {'job_title': 'Business Intelligence Analyst', 'job_skills': ['Python', 'SQL', 'Tableau'], 'remote': True}
]

list(filter(lambda job: job['remote'] and 'Python' in job['job_skills'], jobs_data) )

[{'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'Python', 'Excel'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'PyTorch'],
  'remote': True},
 {'job_title': 'Business Intelligence Analyst',
  'job_skills': ['Python', 'SQL', 'Tableau'],
  'remote': True}]

Data cleaninig

In [ ]:
data_science_job = [
    {'job_title': 'Data Analyst', 'job_skills': "['SQL', 'Python', 'Excel']", 'job_date': '2023-7-1'},
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'R', 'Machine Learning']", 'job_date': '2023-8-15'},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python', 'TensorFlow', 'PyTorch']", 'job_date': '2023-9-10'},
    {'job_title': 'Data Engineer', 'job_skills': "['Python', 'Apache Spark', 'Hadoop']", 'job_date': '2023-10-5'},
    {'job_title': 'Business Intelligence Analyst', 'job_skills': "['Python', 'SQL', 'Tableau']", 'job_date': '2023-11-20'}
]

In [ ]:
from datetime import datetime
import ast

In [ ]:
datetime.now()

datetime.datetime(2024, 7, 19, 15, 50, 57, 541151)

In [ ]:
test_date = data_science_job[0]['job_date']

In [ ]:
print(datetime.strptime(test_date, '%Y-%m-%d'))

2023-07-01 00:00:00

In [ ]:
for job in data_science_job:
  job['job_date'] = datetime.strptime(job['job_date'],'%Y-%m-%d')
  job['job_skills'] = ast.literal_eval(job['job_skills'])

In [ ]:
data_science_job

[{'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'Python', 'Excel'],
  'job_date': datetime.datetime(2023, 7, 1, 0, 0)},
 {'job_title': 'Data Scientist',
  'job_skills': ['Python', 'R', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 8, 15, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'PyTorch'],
  'job_date': datetime.datetime(2023, 9, 10, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': ['Python', 'Apache Spark', 'Hadoop'],
  'job_date': datetime.datetime(2023, 10, 5, 0, 0)},
 {'job_title': 'Business Intelligence Analyst',
  'job_skills': ['Python', 'SQL', 'Tableau'],
  'job_date': datetime.datetime(2023, 11, 20, 0, 0)}]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')